body{
    background-color: lightblue;
    font-family: 'Lucida Sans', verdana, sans-serif;
}
h1{
    text-align: center;
    color: blueviolet;
}
.img {
    border: 3px solid #d5ebcf;
    border-radius: 12px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}
p{
    text-align: justify;
    width: fit-content;
}
.center{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.foto{
    background-color: black;
    display:flex;
    justify-content: space-between;

}

.foto img{
    width: 270px;
    border: 3px;
    border-radius: 12px;
}
.cod {
    margin: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.cod p {
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    color: blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 20px;
}
.promo {
    text-align: center;
    color: red;
}
#tombol {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid whitesmoke;
    background-color: yellow;
    color: red;
}